
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --font-color1: #CCC1E6;
    --font-color2: #545454;
    --font-color3: #372865;
    --background-color1: #372865;
    --background-color2:  #F6F9FE;
}

@media (max-width: 600px) {
/* work on this section
    body {
        height: 100%;
        width: 100%;
    }
    */

    /* top nav bar */
    body {
        border-radius: 5px;
        padding: 30px 10px;
        height: 100%;
        background-color: var(--font-color1);
    }
    
    a {
        text-decoration: none;
        color: var(--font-color1);
        font-weight: bold;
    }

    html {
        font-family: 'Nunito Sans', sans-serif;
        margin: 10px;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*hamburger line */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /*moves line down*/

    .menu-wrap .hamburger > div:after {
        top: 10px;
    }


    }

/*
    header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--background-color2);
    }

    /* Menu */

   /* ul {
        list-style: none;
    } 
/*
    .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    }

    .nav li {
        display: block;
        padding: 30px;
    }
*/
/*Temporary color */
/*
    .nav li:hover {
        background-color: var(--font-color1);
    }

    .nav {
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    .hamb {
        cursor: pointer;
        padding: 40px 20px;
    }




    .side-menu {
        display: none;
    }
    
    .side-menu:checked ~ nav{
        max-height: 100%;
    }


    .logo  {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position: relative;
    }

    .logo > .logo1 {
      flex-basis: 85px;
    }

    .logo > .logo2 {
    flex-basis: 15px;
    }

    header .nav-bar p {
    color: var(--font-color3);
    font-weight: 600;
    font-size: .75em;
}
*/
    .learn_more {
    background-color: var(--background-color1);
    border-radius: 40px;
    text-align: center;
    font-size: .75em;
    margin: 20px;
    padding-left: 7px;
    padding-right: 7px;
}

.learn_more > p {
    color: var(--font-color1);
}

.build_statement {
color: #353252;
font-size: 20px;
font-weight: 620;
text-align: center;
margin: 10px;
letter-spacing: .3px;
}

body {
    background-color: var(--background-color2);
    color: var(--font-color2);
}

.hidden_button {
    display: none;
}

.paragraph {
    margin-top: -12px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
}

.email {
width: 178px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
display: block;
font-size: 11px;
padding: 10px;
border-width: 1px;
border-radius: 4px;
}

.waitlist {
    width: 178px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-size: 10px;
    letter-spacing: .5px;
    background-color:var(--background-color1);
    color: white;
    border-radius: 4px;
}

.email {
    border-color: white;
}

.footer-notes {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1px;
    margin-top: 25px;
    margin-left: 11px;
}
.gallery svg {
    width: 31px;
    height: 34px;
}

}

