
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-color1: #CCC1E6;
    --font-color2: #6c757d;
    --font-color3: #372865;
    --background-color1: #372865;
    --background-color2: #F6F8FE;
    --background-color3: rgba(55, 40, 101, .95)
}

.entire-page {
    padding: 13px;
    background-color: var(--background-color2);
    border-radius: 5px;
    height: 100%;
}

input::placeholder {
    color: #c0c0c0;
}

.learn_more > p {
    color: var(--font-color1);
}

.learn_more p.early > a{
    text-decoration: underline;
    color: var(--font-color1)
}

/*View for mobile*/

@media (max-width: 480px) {
    /* top nav bar */
    body {
        border-radius: 5px;
        padding: 5px 5px;
        height: 100%;
    }
    html {
        font-family: 'Nunito Sans', sans-serif;
        margin: 10px;
        height: 100%;
    }
    
    .entire-page {
        padding: 13px;
        background-color: var(--background-color2);
        border-radius: 5px;
       /* need to adjust this to work for all sizes */
        height: 95%;
    }
    
    .flex1 {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
    }
    
    .logo {
        width: 205px;
        position: absolute;
        right: 29px;
        top: 0;
    }

    .email:focus {
        outline: 1px solid #edf2f4;
    }
    
    a {
        color: var(--font-color3);
        font-weight: bold;
    }

    
    .image {
        display: none;
    }

    .menu-wrap {
        position: relative;
        /*was fixed position, changed the above to absolute, then relative*/
        /*top: 0;
        left: 0;*/ 
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        /*top: 0;
        left: 0; */ 
        z-index: 2;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
    
    /*square for menu*/

    .menu-wrap .hamburger {
        position: relative;
        top: 0;
        left: 0; 
        z-index: 1;
        width: 30px;
        /* padding: 15px 10px 10px 15px; */  
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*hamburger line */
    
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--background-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
    }
/*Top and bottom lines */

    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -6px;
        width: 100%;
        height: 3px;
        background: inherit;  
    }

    /*moves line down*/

    .menu-wrap .hamburger > div:after {
        top: 6px;
    }
/*Toggler animate not targeting checkbox but targeting hamburger's immediate div*/

    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }

/*Turn lines into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
}

/* Rotate on hover when checked */

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/*show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: .8;
    transition: opacity 0.4s ease-in-out;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--background-color3);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
     transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
} 

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.build_statement {
    color: #353252;
    font-size: 20px;
    font-weight: 620;
    text-align: center;
    margin: 10px;
    letter-spacing: .3px;
}

.hidden_button {
    display: none;
}

.paragraph {
    margin-top: -12px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
}

.email {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    font-size: 11px;
    padding: 10px;
    border-width: 1px;
    border-radius: 4px;
}

.waitlist {
    width: 178px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    font-size: 10px;
    letter-spacing: .5px;
    background-color:var(--background-color1);
    color: white;
    border-radius: 4px;
}

.learn_more {
    background-color: var(--background-color1);
    border-radius: 40px;
    text-align: center;
    font-size: .75em;
    display: flex;
    flex-direction: row;
    padding: 10px; 
    margin-top: 35px;
}

.email {
    border-color: white;
}

.footer-notes {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1px;
    margin-top: 25px;
    margin-left: 11px;
}

.gallery svg {
    width: 31px;
    height: 34px;
}

.footer-notes {
    margin-bottom: 15px;
}
}

/* Styles for tablet view */
@media (min-width: 481px) and (max-width: 1200px) {
    html {
        height: 100%;
        font-family: 'Nunito Sans', sans-serif;
    }

    body {
        border-radius: 15px;
        height: 100%;
        /* margin-bottom: 150px; */
    }
    .image {
        display: none;
    }

    .build_statement {
        width: 50%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border: solid;
    }

    .paragraph {
        border: solid;
        width: 75%;
        }

        /*Gives the top menu a margin*/
     .flex > .flex1 {
        margin: 50px 40px;
     }

    .flex1 {
        display: flex;
        flex-direction: row;
     }

    .logo {
        width: 95px;
        position: absolute;
        right: 29px;
        top: 14px;
    }

    .container {
        width: 80%;
        border: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    body > div > main > div > div.learn_more > p {
        font-size: 15px;
    }

    .email:focus{
        outline: 1px solid #edf2f4;
      }

     .email {
        font-size: 14px;
     }

    a {
        color: var(--font-color3);
        font-weight: bold;
    }
    
    .menu-wrap {
        position: relative;
        /*was fixed position, changed the above to absolute, then relative*/
        /*top: 0;
        left: 0;*/ 
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        /*top: 0;
        left: 0; */ 
        z-index: 2;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
    
    /*square for menu*/
    .menu-wrap .hamburger {
        position: relative;
        /* top: 0;
        left: 0; */
        z-index: 1;
        width: 30px;
        /* padding: 15px 10px 10px 15px; */  
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*hamburger line */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--background-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
    }

    /*Top and bottom lines */
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -6px;
        width: 100%;
        height: 3px;
        background: inherit;    
    }

    /*moves line down*/    
    .menu-wrap .hamburger > div:after {
        top: 6px;
    }

    /*Toggler animate not targeting checkbox but targeting hamburger's immediate div*/
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    
    /*Turn lines into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    /* Rotate on hover when checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    /*show menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }

    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: .8;
        transition: opacity 0.4s ease-in-out;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: var(--background-color3);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;   
        transform: scale(0);
        transition: all 0.4s ease-in-out;
    } 

    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    } 

    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease-in-out;
    }

    .container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .learn_more {
        background-color: var(--background-color1);
        border-radius: 40px;
        text-align: center;
        font-size: .75em;
        display: flex;
        flex-direction: row;
        align-content: center;
        padding: 5px; 
        margin-top: 35px;
    }
    
    .learn_more > p {
        color: var(--font-color1);
    }

    .learn_more > p > a {
        text-decoration: underline;
        color: var(--font-color1);
    }

    .learn_more {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: -30px;
    }
   
    .learn_more {
        background-color: var(--background-color1);
        border-radius: 40px;
        text-align: center;
        font-size: .75em;
        align-self: center;
        width: 75%; 
    }
    
    .learn_more > p {
        color: var(--font-color1);
    }

    .learn_more > p > a {
        text-decoration: underline;
        color: var(--font-color1)
    }

    .build_statement {
        color: #353252;
        font-size: 35px;
        font-weight: 620;
        text-align: center;
        letter-spacing: .5px;
    }   

    .hidden_button {
        display: none;        
}
  
    .paragraph {
        font-size: 11.5px;
        margin: 5px 50px 30px 50px;
        text-align: center;
        font-weight: 100;
        color: #495057;
    }

    .flexy {
        display: grid;
        grid-template-columns: 200px 100px;
        justify-content: center;
        column-gap: 10px;
    }

    .email {
        padding: 10px;
        border-width: 1px;
        border-radius: 4px;
        width: 200px;
    }

    .waitlist {
        width: 150px;
        padding: 10px;
        margin: 0 auto;
        display: block;
        font-size: 12px;
        letter-spacing: .4px;
        background-color:var(--background-color1);
        color: white;
        border-radius: 4px;
    }

    .email {
        border-color: white;
    }

    footer {
        margin-left: 45px;
   }

    .footer-notes {
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .1px;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .gallery svg {
        width: 50px;
        height: 40px;
        margin: 0px 6px;
    }
}

/*Media query for desktop */

@media (min-width: 1201px) {

    html {
        height: 100%;
    }

    body {
        border-radius: 15px;
        height: 100%;
        /* margin-bottom: 150px; */
    }
    .menu-wrap input {
        display: none;
    }
/*Working on top menu bar*/
.flex1 li {
    list-style: none;
}

.menu ul {
    width: 700px;
}

.menu li {
    display: inline-block;
}
 


.top-bar {
    width: 50%;
    padding: 7px;
    margin: 0 20px;
    font-size: 16px;
    letter-spacing: .3px;
    background-color:var(--background-color1);
    color: white;
    border-radius: 4px;
    border: solid 5px red;
    display: inline-block;
}


body > div > div > div.menu-wrap.flex1 > input {
    display: none;
}

        /*Gives the top menu a margin*/
     /*.flex > .flex1 {
        margin: 50px 40px;
     }*/

   /*.flex1{
        display: flex;
        flex-direction: row;
     }*/

    /*.logo {
        width: 95px;
        position: absolute;
        right: 29px;
        top: 14px;
    }*/
    
 .email:focus{
    outline: 1px solid #edf2f4;
}

 .email {
    font-size: 16px;
}

a {
    color: var(--font-color3);
    font-weight: bold;
}
    
html {
   font-family: 'Nunito Sans', sans-serif;
   margin: 15px;
   height: 100%;
}
    
.container {
    display: grid;
    grid-template-columns: 45% 2fr 1fr 3fr;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr;
    row-gap: 20px;
}
.menu {
  
}

.learn_more {
    background-color: var(--background-color1);
    border-radius: 40px;
    text-align: center;
    font-size: 1em; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
}
.build_statement {
    border: solid;
}

.paragraph {
    color: var(--font-color2);
    margin-right: 20px;
    border: solid;
}

.flexy {
    display: flex;
    justify-content: center;
    align-items: center;

}


/*Trying to match the buttons*/

.flexy input {
    height: 50px;
}

.child2 {
    height: 50px;
    width: 250px;
    padding: 7px;
    margin: 0 20px;
    font-size: 16px;
    letter-spacing: .3px;
    background-color:var(--background-color1);
    color: white;
    border-radius: 4px;
    display: inline-block;
}

.photofordesktop {

    border: solid;
}

.image {
    width: 70%;
}
   
.build_statement {
    color: #353252;
    font-size: 40px;
    font-weight: 620;
    text-align: left;
    letter-spacing: .5px;
} 

.hidden_button {
    display: none;        
}
  
.email {
    padding: 10px;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
    border-color: white;
}
 
.footer-notes {
    font-size: 14px;
    color: var(--font-color2);
    font-weight: 600;
    letter-spacing: .1px;
    margin-top: 4px;
    margin-bottom: 15px;
}

.gallery svg {
    width: 40px;
    height: 40px;
    margin: 2px 10px 20px 0px;
}
}