

:root {
    --font-color1: #CCC1E6;
    --font-color2: #545454;
    --font-color3: #372865;
    --background-color1: #372865;
    --background-color2:  #F6F9FE;
   
}

html {
    font-family: 'Nunito Sans', sans-serif;
    
}
@media (max-width: 600px) {

    body {
        
        height: 100%;
        width: 100%;
    }

    header .nav-bar p {
    color: var(--font-color3);
    font-weight: 600;
    font-size: .75em;
}

    .learn_more {
    background-color: var(--background-color1);
    border-radius: 40px;
    text-align: center;
    font-size: .75em;
    margin: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.learn_more > p {
    color: var(--font-color1);
}

.build_statement {
color: #353252;
font-size: 20px;
font-weight: 700;
text-align: center;
margin: 10px;
}

body {
    background-color: var(--background-color2);
    color: var(--font-color2);
}

.hidden_button {
    display: none;
}

.paragraph {
    margin-top: -12px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
}

.email {
width: 178px;
margin: 0 auto;
display: block;
font-size: 11px;
padding: 10px;
border-width: 1px;
}

.waitlist {
    width: 200px;
    padding: 9px;
    margin: 0 auto;
    display: block;
    font-size: 10px;
    letter-spacing: .5px;
    background-color:var(--background-color1);
    color: white;
    border-radius: 4px;
}
.email {
    border-color: #edede9;
}

.footer-notes {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: .1px;
}
.gallery svg {
    width: 33px;
}
}

